/* ГЛОБАЛЬНЫЕ СТИЛИ */
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sant-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column-reverse;
}

.site-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  width: 1056px;
  min-height: 56px;
  display: flex;
}
.site-navigation li {
width:
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  color: #766357
}

.welcome {
  margin: 0;
  padding: 0;
  background-image: url("../img/welcome.jpg");
  width: 1200px;
  height: 508px;
  display: flex;
  border-color: #4176a1;
  position: relative;
}

.slogan {
  margin: 0;
  background-color: #ffffff;
}

.slogan h3 {
  font-size: 23px;
  line-height: 26px;
  font-size: 700;
}

.slogan p {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-one h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantages-one .fon-blue {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-one .picture {
  padding: 0;
  margin: 0;
}

.advantages-item {}
}

.interest {
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

.search-hotel {
  margin: 0;
  padding: 0;
  background-color: #fffff;
  text-align: center;
}

.interest {
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.search-data {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.button {
  margin: 0;
  padding: 0;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.button:hover, .button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
}

.search-form {
  background-color: #ffffff;
  text-align: center;
}

.date-check-in {
  font-size:
    line-height:26px;
  font-weight: 700;
}

.date-check-out {
  font-size:
    line-height:26px;
  font-weight: 700;
}

.data {
  background-color: #ffffff;
}

.data:hover, .data:focus {
  background-color: #ebebeb;
}

.data:active {
  background-color: #ffffff;
}

.total {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.form-button {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.form-button:hover, .form-button:focus {
  background-color: #669ec0;
}

.form-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.map {
  background: url("../img/map.jpg") background-color: #cbdda9;
}
.main-footer {
  padding-left: 72px;
  padding-right: 72px;
  color: #000000;
  background-color: rgba(249, 251, 546, 0.9)
  display:flex;
  width: 1056px;
  min-width: 120px;
  position: relative;
  align-items: center;
}

.footer-mark a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social-button {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin: 3px;
  fill: #ffffff;
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.social-button:hover, .social-button:focus {
  background-color: #669ec0;
  width: 46px;
  height: 48px;
  margin: 3px;
  fill: #ffffff;
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright a {
  font-size: 14px;
  fill: #000000;
}
.footer-copyright a {
  margin-left: 30px;
}
.footer-copyright a:hover, a:focus {
  fill: #81b3d2;
}
.footer-copyright a:active {
  fill: #bdbbbc;
}

/*hotel.html*/
.filter {
  background: url("../img/filter_background.jpg") background-color: #7fa0c1;
}

.filter-item {
  color: #ffffff;
}

.filter-item h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-item ul {
  list-style: none;
}

.filter-price {
  color: #ffffff;
}

.filter-price-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.filter-min-max {
  background: #ffffff;
}

.button-show {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.button-show:hover {
  color: #000000;
  background: #ffffff;
}

.found {
  font-size: 21px;
  font-weight: bolder;
}

.sorting {
  background-color: #ffffff;
}

.found {
  font-size: 21px;
  font-weight: 700;
}

.sorting-type {
  font-size: 12px;
}

.sorting-item {
  list-style: none;
}

.sorting-item a:hover, a:focus {
  color: #81b3d2;
  color="#cacaca"
}

.sorting-item a:active {
  color: #000000;
}

.found {
  list-style: none;
}

.hotel-choice li {
  list-style: none;
}

.hotel {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.hotel-choice {
  list-style: none;
}

.hotel:hover, .hotel:focus {
  color: #81b3d2;
}

.hotel:active {
  color: #cacaca;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
}
.result-button1 a {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  width: 142px;
  height: 27px;
}
.result-button1 a:hover, .result-button1 a:focus {
  background-color: #669ec0;
}
.result-button a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
